.content {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  height: 100vh;
  background: url('../../assets/home-background.png') no-repeat;
}

.content header {
  margin: 48px 0 50px;
}

.content main {
  flex: 1;
  max-width: 560px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content main h1 {
  font-size: 40px;
  color: var(--title-color);
}

.content main p {
  font-size: 17px;
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 38px;
}

.footer {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer a {
  width: 100%;
  max-width: 360px;
  height: 72px;
  background: var(--primary-color);
  border-radius: 8px;
  text-decoration: none;

  display: flex;
  align-items: center;
  overflow: hidden;

  margin-bottom: 20px;
}

.footer a span {
  display: block;
  background: rgba(0, 0, 0, 0.08);
  width: 72px;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.footer a span svg {
  color: #FFF;
  width: 20px;
  height: 20px;
}

.footer a strong {
  flex: 1;
  text-align: center;
  color: #FFF;
}

.footer a:hover {
  background: #2FB86E;
}

.field-group {
  flex: 1;
  display: flex;
}

.field {
  flex: 1;

  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 1;
  background: #F0F0F5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
}

.field label {
  font-size: 14px;
  margin-bottom: 8px;
}